@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 12px;
}

body {
	min-height: 100vh;
	font-family: "Public Sans", sans-serif;
	background-color: blueviolet;
	display: flex;
	justify-content: center;
}

.container {
	position: relative;
	background-color: #fff;
	margin-top: 8.5rem;
	margin-bottom: 5rem;
	width: 90%;
	border-radius: 10px;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.title {
	font-size: 2.8rem;
	text-align: center;
	margin-top: -90px;
	margin-bottom: 20px;
	text-align: center;
}

.accordion-img {
	width: 80%;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: center;
	top: -120px;
}

.accordion {
	position: relative;
	width: 350px;
	margin: 0 auto;
	padding-bottom: 10rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.question {
	display: flex;
	justify-content: space-between;
}

.question-answer {
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
}

.title-question {
	margin: 1.4rem 0rem;
	font-size: 1.2rem;
	color: #808080ff;
}

.title-question:hover {
	color: orange;
	cursor: pointer;
}

.question-button {
	font-size: 1.5rem;
	background-color: transparent;
	color: orange;
	border-color: transparent;
	cursor: pointer;
}

.up-icon {
	display: none;
}

.answer {
	font-size: 1.2rem;
	line-height: 1.8;
	color: #808080ff;
	display: none;
}

.show-text .answer {
	display: block;
}

.show-text .up-icon {
	display: inline;
}

.show-text .down-icon {
	display: none;
}

.show-text .title-question {
	font-weight: bolder;
	color: black;
	font-size: 1.6rem;
}

@media screen and (min-width: 992px) {
	.container {
		display: flex;
		width: 85%;
		margin: 3rem 10rem;
	}

	.accordion {
		position: relative;
		width: 350px;
		margin-left: auto;
		padding: 0 1.8rem;
		margin-right: 10rem;
	}

	.accordion-img {
		width: 600px;
		top: 20px;
		left: -150px;
		position: relative;
	}

	.title {
		margin-top: 90px;
		font-size: 3rem;
		text-align: left;
	}
}
